#add{
    position: absolute;
    margin-left: 140px;
}
.forml{
    position: absolute;
    margin-left: 80px;
    top:40%;
    width: 50%;
}
#addLink{
    position: absolute;
   
}
#addButt{
  
    position: absolute;
    width:30%;
   
    margin-left:146%;
    top:630%;
}
